.jumbotron {
    margin-left: 10%;
    margin-right: 10%;
}

img {
    width: 300px;
    height: 375px;
}

footer {
    width: 100%;
    background: rgb(38, 112, 197);
    height: 30px;
    text-align: center;
}

#photo {
    width: 49%;
    height: 20%;
    padding: 1%;
}

